[Dome9]
name=Dome9 Repository
baseurl=http://repository.dome9.com/centos/$releasever/
enabled={{ '1' if dome9_repository_dome9|bool else '0' }}
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-dome9.com
